.cards {
    border: 1px solid black;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 250px;
    width: 250px;

    padding: 20px;
    margin: 10px;
}

.cards_button {
    border: none;
    background-color: rgb(31, 31, 91);
    color: white;
}

label {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    cursor: pointer;
}