main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.render-button-container {
    padding: 10px;
}

.cards {
    display: flex;
    cursor: pointer;
    padding: 5px;
}

.cards-content {
    border: 1px solid rgb(255, 7, 7);
    border-radius: 15px;

    height: 18.75rem;
    width: 18.75rem;

    display: flex;
    flex-direction: column;
}

.cards-content:hover {
    border: 3px solid rgb(7, 255, 27);
}

.cards_button {
    border: none;
    background-color: rgb(31, 31, 91);
    color: white;
}

label {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}



#poke_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#poke_element img {
    background-color: black;
    height: 50px;
    width: 50px;
    color: red;
}

#poke_img {
    align-items: center;
    display: flex;
    justify-content: center;
}

#poke_img img {
    height: 150px;
    width: 150px;
}

#poke_name h3 {
    font-size: 50px;
    color: rgb(90, 90, 90);
    
}

.render-button {
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.render-button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.render-button:active {
	position:relative;
	top:1px;
}

@media screen and (min-width: 0px) and (max-width: 654px) {
    .cards-content {
    height: 17.75rem;
    width: 17.75rem;
}
};